<a href="https://colab.research.google.com/github/FahimeGolshani/Data-Science-Essentials-A-Hands-On-Guide/blob/main/Python_week_1_and_2_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First and second session**  


 Alzahra university
 winter 2023


**Fahimeh Golshani**


In Python, a DataFrame is a two-dimensional, tabular data structure provided by the pandas library. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. The pandas library is widely used for data manipulation and analysis, and the DataFrame is one of its fundamental data structures.

Key features of a DataFrame:

Tabular Structure: A DataFrame is essentially a table with rows and columns. Each column can have a different data type, and the data is arranged in a grid.

Labeled Axes: Both rows and columns in a DataFrame have labels, which allows for easy indexing and retrieval of data.

Flexibility: DataFrames can hold a variety of data types, including integers, floats, strings, and more. This flexibility makes them suitable for handling diverse datasets.

Operations: Pandas provides a wide range of operations and functions that can be applied to DataFrames, including filtering, grouping, merging, and reshaping data.

Missing Data Handling: DataFrames handle missing values gracefully and provide methods for filling or removing them.

![image.png]()



Use the [titanic](https://www.kaggle.com/c/titanic/data) dataset from kaggle for this weeks' tutorial.

## Import pandas

In [ ]:
# Import pandas and label it as 'pd'
import pandas as pd

## Import data

In [ ]:
# Read data via 'pd.read_csv'
# Use the appropriate read function for different file formats, for example pd.read_excel allows you to import files in excel format

data = pd.read_csv("/content/train.csv")

In [ ]:
data

# Selecting a series/column in a dataframe

There are two ways you can select a column of a dataframe.
1. data.Name
2. data['Name']

What is the difference between the two? Well, they both do the exact same thing except the second one is more robust. Here is an example, say I rename the 'PassengerId' column to 'Passenger ID', data.Passenger ID would not work.

Let's see it in action.

In [ ]:
# Let's first try out it out on the Name feature

data.Name

In [ ]:
#data['Name']
data['Age']

So both ways are able to give us the Name column without any issues.

# Data Manipulation on Dataset

In [ ]:
# Rename 'PasengerId' column

data.rename(columns = {'PassengerId': 'Passenger ID'}, inplace = True)
data.head()

**Dropping columns and rows**

In [ ]:
data.drop(columns = 'Name')

Passenger ID column has now been renamed, but not permanently!!!

In [ ]:
data

In [ ]:
# Name is not very important for predicting the target column so we can drop it permanently
data.drop(columns = 'Name',inplace= True)

In [ ]:
data.head()

In [ ]:
#adding a new column
data['Familynumber'] = data['SibSp']	+ data['Parch']

In [ ]:
data

In [ ]:

data.drop(3,axis=0,inplace= True)
data.head()

In [ ]:
data.head()

## Index-based selection

We use iloc to select data based on their numerical position in the dataframe.

iloc takes two argument, first is row followed by column. It has a starting index of 0 that is 0 is first, 1 is second, 2 is third and so on.

In [ ]:
# First row and all columns

data.iloc[0, :]

In [ ]:
# Fourth column that is the Name column and all rows
# Since starting index is 0 fourth column corresponds to index number 3

data.iloc[:, 3]

Suppose we want to select a range of values.

iloc includes the first number but exclude the last number of the range. For example, if we want the second and third row of the first column, the code is as follows:

In [ ]:
# Second and third rows of the first

data.iloc[1:3, 0]

We can also pass in a list or series into iloc

In [ ]:
# First three rows and all columns

data.iloc[[0, 1, 2], :]

We can also go from the bottom of the dataframe.

In [ ]:
# Bottom five rows of the dataframe

data.iloc[-5:, :]

In [ ]:
# This is the same as using the tail function

data.tail()

## Label-based selection

With loc we need to specify the actual name of the column.

In [ ]:
# First row of the Name column

data.loc[0, 'Name']

Different to iloc, when we want to select a range of values, loc includes both the start as well as the end of the range.

For example, to get the first 5 rows under iloc we would have data[:5] whereas for loc we have data[:4] instead.

In [ ]:
# First 5 rows of the Name, Sex and Age column

data.loc[:4, ['Name', 'Sex', 'Age']]

## Conditional Selection(Optional)

We can select rows that satisfy certain conditions. In this section, we will look at how that works.

**Comparison Operators:**

These operators return a Boolean value (True or False) based on whether the specified condition is true or false.




1.   Equality (==):

    Checks if the values on the left and right are equal.

2.   Inequality (!=):

    Checks if the values on the left and right are not equal.

3. Greater Than (>):

    Checks if the value on the left is greater than the value on the right.

4. Less Than (<):

    Checks if the value on the left is less than the value on the right.

5. Greater Than or Equal To (>=):

    Checks if the value on the left is greater than or equal to the value on the right.

In [ ]:
# Rows with age 50

data.loc[data['Age'] == 50, :]

**Logical Operators:**
1. Logical AND (& or and):

    Returns True if both conditions on the left and right are true.

2. Logical OR (| or or):

    Returns True if at least one of the conditions on the left or right is true.
3. Logical NOT (not):

    Returns True if the condition is false and vice versa.

In [ ]:
# Rows with age 50 AND are female
# This is a subset of the above dataframe by filtering out females

data.loc[(data['Age'] == 50) & (data['Sex'] == 'female') ,:]

In [ ]:
# Rows with age 50 OR have fare greater than or equal to 200

data.loc[(data['Age'] == 50) | (data['Fare'] >= 200), :]

In [ ]:
# All rows with C or Q in Embarked column

data.loc[(data['Embarked'] == 'C') | (data['Embarked'] == 'Q'), :]

# Exploratory Data Analysis(EDA)


Exploratory Data Analysis (EDA) is a crucial step in the data analysis process where analysts or data scientists examine and summarize key characteristics and patterns in a dataset. The primary goal of EDA is to gain insights into the data, understand its structure, identify patterns, relationships, and potential outliers, and generate hypotheses for further analysis.

Here are some common techniques and activities involved in Exploratory Data Analysis:

**Summary Statistics:** Calculate and examine basic statistical measures such as mean, median, mode, standard deviation, range, and quartiles to understand the central tendency and spread of the data.

**Data Visualization:** Create graphical representations of the data using charts, graphs, and plots. Visualization helps in identifying patterns, trends, and outliers more effectively than raw data.

**Histograms and Density Plots:** Visualize the distribution of individual variables using histograms or density plots to understand the shape of the data.

**Scatter Plots:**  Display relationships between two variables to identify potential correlations or patterns.

**Box Plots:** Provide a summary of the distribution of a variable and help identify outliers.

**Correlation Analysis:** Examine the strength and direction of relationships between variables using correlation coefficients. This helps understand if and how variables are related.

**Missing Values Analysis:** Identify and handle missing values in the dataset. Understanding the extent of missing data is crucial for making informed decisions on data imputation or cleaning.

**Outlier Detection:** Identify and investigate data points that deviate significantly from the rest of the data. Outliers can provide valuable insights or indicate errors in the data.

**Feature Engineering:** Create new features or transform existing ones to better suit the analysis or improve the performance of machine learning models.

**Data Transformation:** Standardize or normalize data as needed, especially when dealing with different scales or units.

EDA is an iterative process, and the insights gained during this phase often guide subsequent steps in the analysis or modeling process. It helps in formulating hypotheses, making decisions about data preprocessing, and determining the appropriate statistical or machine learning techniques for further analysis.

# **Summary functions**


Functions like "Head and tail" give us a piece of data


Summary functions like  "describe and info" give a high-level summary of our data.

In [ ]:
# 'head' shows the first five rows of the dataframe by default but you can specify the number of rows in the parenthesis
data.head()

In [ ]:
data.head(10)

In [ ]:
# 'tail' shows the bottom five rows by default
data.tail()

In [ ]:
# 'shape' function tells us how many rows and columns exist in a dataframe
data.shape

In [ ]:
# Info function

data.info()

**Data types**


What are the most common data types that you will see in pandas?







1.   int64 (integer)
2.   float64 (floating point number)
3. object (string)
4. datetime (datetime)
5. bool (true or false)

In [ ]:
#function dtypes to grab the data type of every column in a data frame.
data.dtypes

We can convert a column of one type into another using the astype function.

In [ ]:
# Convert the SibSp column into float64 data type

data['SibSp'].astype('float64')

In [ ]:
data['SibSp'].dtypes

Why it is still int64?!!!!

In [ ]:
data['SibSp']=data['SibSp'].astype('float64')

In [ ]:
data['SibSp'].dtypes

In [ ]:
# What is the oldest age?

data['Age'].max()

In [ ]:
# What is the youngest age?

data['Age'].min()

In [ ]:
# What is the average age?

data['Age'].mean()

In [ ]:
# What is the median fare?

data['Fare'].median()

In [ ]:
# What is the most frequent Embarked value?
# We can cross check this with the value counts function above
# This should return 'S' as the answer

data['Embarked'].mode()

In [ ]:

# Describe function on all numerical variable

data.describe()

In [ ]:
data['Fare'].describe()

In [ ]:
# Describe function on text variable (object data (e.g. strings or timestamps))
#the result’s index will include count, unique, top, and freq.
#The top is the most common value.
#The freq is the most common value’s frequency.

data['Embarked'].describe()

In [ ]:
data['Embarked']

### Data Visualizations (Plots)

1-**Categorical Data**
Categorical data refers to variables that can take on a limited, and usually fixed, number of distinct categories or levels.
There are two main types of categorical data:

**Nominal Data:**

Nominal data consists of categories with no inherent order or ranking.
Examples include gender (male, female), colors (red, blue, green), or types of fruit (apple, banana, orange).
Nominal data can be represented using labels or numbers, but the numbers do not imply any inherent order.

**Ordinal Data:**


Ordinal data, on the other hand, has categories with a meaningful order or ranking.
While the differences between categories are not precisely quantifiable, there is a clear order or hierarchy.
Examples include education levels (e.g., high school, college, graduate), customer satisfaction ratings (e.g., poor, fair, good, excellent), or socioeconomic status (low, medium, high).

Categorical data is common in various fields, including social sciences, marketing, biology, and more. Analyzing and visualizing categorical data often involve using frequency tables, bar charts, pie charts, and other graphical representations to illustrate the distribution of data across different categories.

When working with categorical data in statistical analyses or machine learning models, it is common to encode these categories into numerical values through a process called "label encoding" or "one-hot encoding" to facilitate computations and model training.

1. CountPlot:

 The countplot function is used to show the counts of observations in each categorical bin using bars.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.countplot(data = data, x="SibSp")

In [ ]:
sns.countplot(data = data, x="Survived")

2. pie chart

In [ ]:
data['Survived'].value_counts().plot(kind='pie', autopct='%.2f')

3. mosaic plot:
to visualize the association between two categorical variables you can use a mosaic plot or a grouped bar chart.

In [ ]:

sns.set(style="whitegrid")

# Create a mosaic plot using seaborn
sns.catplot(x='Pclass', hue='Survived', data=data, kind='count', height=6, aspect=1.5, palette='pastel')

# Add labels and title
plt.xlabel('Pclass')
plt.ylabel('Count')
plt.title('Mosaic Plot of Survival by Passenger Class')

# Show the plot
plt.show()

In [ ]:
sns.set(style="whitegrid")

# Create a mosaic plot using seaborn
sns.catplot(x='Embarked', hue='Survived', data=data, kind='count', height=6, aspect=1.5, palette='bright')

# Add labels and title
plt.xlabel('Embarked')
plt.ylabel('Count')
plt.title('Mosaic Plot of Survival by Embarked Port')

# Show the plot
plt.show()

In [ ]:
sns.set(style="whitegrid")

# Create a mosaic plot using seaborn
sns.catplot(x='Sex', hue='Survived', data=data, kind='count', height=6, aspect=1.5)

# Add labels and title
plt.xlabel('Sex')
plt.ylabel('Count')
plt.title('Mosaic Plot of Survival by gender')

# Show the plot
plt.show()

**2. Numerical Data**

1- histogram:

 is a graphical representation of the distribution of a dataset. It is used to visualize the underlying frequency distribution of a continuous or discrete variable. The data is divided into intervals or bins, and the frequency (or count) of observations falling into each bin is represented by the height of a bar.

In [ ]:
# Create a histogram for the 'Age' column
plt.hist(data['Age'], bins=60, color='red', edgecolor='black')

# Add labels and title
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Histogram of Age')

# Show the plot
plt.show()

2. Displot:

 It can be used to visualize the distribution of a single variable and, optionally, compare it across different subsets of the data.

In [ ]:
sns.displot(data=data, x='Age',kde=True)

In [ ]:
#  This allows you to visually compare the distributions of ages for those who survived and those who did not survive.
# The hue parameter helps distinguish the two distributions by coloring them differently.
sns.displot(data=data, x='Age',kind="kde",hue="Survived")

The next piece of code allows you to visually compare the age distributions for survivors and non-survivors within each gender group.

The "col" parameter is especially useful for creating conditional plots that show the distribution of a variable across different levels of another variable. In this case, it helps analyze the relationship between age, survival status, and gender.

In [ ]:
sns.displot(data=data, x='Age',kind="kde",hue="Survived",col="Sex")

3. box plot:

A box plot (or box-and-whisker plot) is a graphical representation of the distribution of a dataset. It displays the summary statistics of a variable, such as the median, quartiles, and potential outliers. Seaborn provides the boxplot function to create box plots.

In [ ]:
sns.boxplot(data = data, x = "Age")

4. **Heatmap**

visually represents the correlation between pairs of variables in your dataset.
Positive correlation (values close to 1 and typically shown in warmer colors (e.g., red)) suggests that as one variable increases, the other variable tends to increase as well.
Negative correlation (values close to -1 and typically shown in cooler colors (e.g., blue)) suggests that as one variable increases, the other variable tends to decrease.
A correlation close to 0 indicates a weak or no linear relationship.

In [ ]:
# Calculate the correlation matrix
correlation_matrix = data.corr()

# Set up the matplotlib figure
plt.figure(figsize=(10, 8))

# Create a heatmap using seaborn
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5, cbar_kws={"shrink": 0.75})

# Set the title of the heatmap
plt.title('Correlation Heatmap')

# Show the plot
plt.show()

Using Colab visualization

In [ ]:
data

## Feature Engineering


Feature engineering is the process of transforming raw data into features that can be used to improve the performance of a machine learning model. It involves creating new variables (features) from the existing ones or modifying the existing features in a way that enhances the model's ability to make predictions. Effective feature engineering can significantly impact the success of a machine learning model.
some common techniques and concepts associated with feature engineering:

**Handling Missing Data:**


Dealing with missing values in a meaningful way, such as imputing missing values based on other features or using techniques like mean, median, or machine learning-based imputation.

**Encoding Categorical Variables:**


Converting categorical variables into a numerical format that can be understood by machine learning algorithms. This may involve one-hot encoding, label encoding, or other methods.

**Feature Scaling:**

Scaling numerical features to a standard range (e.g., normalizing or standardizing) to ensure that all features contribute equally to the model.

**Creating Interaction Terms:**


Combining two or more features to create new features that may capture interactions or relationships not evident in the individual features.

**Binning or Discretization:**


Grouping continuous features into bins or discrete categories to capture patterns or trends that might be overlooked in a continuous form.

**Transforming Variables:**


Applying mathematical transformations to variables, such as taking logarithms, square roots, or other functions, to make the data more amenable to modeling assumptions.

**Feature Extraction:**

Reducing the dimensionality of the data by extracting important information from features. Techniques like Principal Component Analysis (PCA) or extracting features from text data using techniques like TF-IDF can be considered.

**Temporal Features:**


Extracting features related to time, such as day of the week, month, or time elapsed since a specific event, which can be valuable in time-series analysis.

**Domain-Specific Features:**


Creating features based on domain-specific knowledge. This involves incorporating knowledge about the problem or industry to engineer features that might be particularly relevant to the task.

**Handling Outliers:**

Identifying and handling outliers in the data. This might involve capping extreme values, transforming the data, or creating new features that are robust to outliers.


Feature engineering is often an iterative process that involves experimenting with different transformations and analyzing their impact on the model's performance. It requires a good understanding of the data and the problem at hand. Effective feature engineering can lead to better model interpretability, generalization, and predictive performance.

# Missing values
NaN stands for "Not a Number." In the context of data analysis and pandas, NaN is often used to indicate missing or undefined values in a DataFrame. For example, if you load a dataset and some values are missing, pandas may represent those missing values as NaN.

the NaN in the DataFrame indicates missing values. It's important to handle NaN values appropriately during data analysis, as they can impact calculations and statistical operations.

First let's recall how we can figure out how many null values are there in our dataframe.

In [ ]:
# How many null values are there in our dataframe?

data.isnull().sum()

In [ ]:
# All the rows with null Age column

data.loc[data['Age'].isnull(), :]

The exact opposite to the isnull function is the notnull function which returns series without any null values.

# Dealing with missing values
There are mainly two ways to deal with missing data.

Drop the rows or columns which contain missing data
Replace missing data with substituted values also known as imputation
Both methods have their own individual pros and cons. Which of the two methods you use will be highly dependent on your data as well as the nature of the problem you are trying to solve. If you are working on detailed piece of analysis, this is where you would take the time to really understand each column to figure out the best strategy to handle those missing values.

Generally speaking, dropping data is much easier and straightforward to implement but it does come at the expense of removing potentially useful information from our dataset. This will adversely affect model performance which then leads to inaccurate model predictions.

On the other hand, choosing the best way to impute or replace those missing values require more time, consideration and experience. I will briefly touch upon the different ways to impute missing values in the later part of this notebook.


**Method 1:** Drop rows or columns with missing values
If you are in a hurry or don't have a reason to figure out why your values are missing, one option is to remove rows or columns that contain missing values. However, this is not the best approach in most cases because we might lose potentially useful information in our dataset.

Let's see how we can drop rows and columns with missing values using the dropna function.

In [ ]:
# Remove rows with any missing values
#data.dropna(inplace=True)

# Remove columns with any missing values
#data.dropna(axis=1, inplace=True)

In [ ]:
data['Cabin'].isnull().sum()

In [ ]:
data['Cabin'].describe()

In [ ]:
# Cabin is not very important for predicting the target column as it has more than 50% Nan values so we can drop it permanently
#If a column has a high percentage of missing values or is mostly constant, it may not contribute much to the analysis.
data.drop(columns = 'Cabin',inplace= True)

**Method2: Impute Missing Values:**

Imputation involves replacing missing values with estimated or calculated values. Common imputation methods include:

Mean/Median/Mode Imputation:
Replace missing values with the mean, median, or mode of the respective column or even with the help of other columns.

In [ ]:
# Replace missing values with the mean, median, or mode of the respective column
#data['Age'].fillna(data['Age'].mean(), inplace=True)

In [ ]:
#data['Age'].isnull()

In [ ]:
#data['Age'].fillna(data['Age'].median(), inplace=True)

Replace missing values with the help of other columns. for example here we can check the average age by passenger class. and fill the Nan value with that

In [ ]:
plt.figure(figsize=(12, 7))
sns.boxplot(x='Pclass',y='Age',data=data ,palette='winter')

In [ ]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]

    if pd.isnull(Age):

        if Pclass == 1:
            return 37

        elif Pclass == 2:
            return 29

        else:
            return 24

    else:
        return Age

In [ ]:
data['Age'] = data[['Age','Pclass']].apply(impute_age,axis=1)

**Method 3: Forward Fill or Backward Fill:**
Propagate the last known value forward or the next known value backward.

In [ ]:
# Backward fill: replaces missing values with the next known non-missing value in the column.

#data['Age'].fillna(method='bfill', inplace=True)

In [ ]:
# Forward fill: replaces missing values with the last known non-missing value in the column.
data['Embarked'].fillna(method='ffill', inplace=True)

It's important to note that while forward fill and backward fill are convenient for handling missing values in time series data, they may not be suitable for all datasets. The choice between forward fill, backward fill, or other imputation methods depends on the specific characteristics of the data and the goals of the analysis.

There are other methods and technique as well:such as: "Interpolation,identify an Indicator for Missing Values and Advanced Imputation Techniques"

Id columns usually are not important, so we can drop them.

In [ ]:
data['PassengerId']

In [ ]:
data.drop(columns = ['Ticket','PassengerId'],inplace= True)

In [ ]:
data

**Converting categorical features**

 is a crucial step in the feature engineering process, as many machine learning algorithms require numerical input. There are several common techniques for converting categorical features into a format that can be used in machine learning models:

One-Hot Encoding:

This method creates binary columns for each category and indicates the presence of the category with a 1 or 0. It is suitable for nominal categorical variables (categories with no inherent order).
python

In [ ]:

data = pd.get_dummies(data, columns=['Embarked'], prefix='Embarked')

In [ ]:
data=pd.get_dummies(data, columns=['Sex'], prefix=['Sex'])

In [ ]:
data=pd.get_dummies(data, columns=['Pclass'], prefix=['Pclass'])

In [ ]:
data.head()

In [ ]:
data.isnull().sum()

## How to Save your dataframe

In Google Colab, you can save your DataFrame to a file using various formats such as CSV, Excel, or even in a more efficient binary format like Parquet or Feather.

In [ ]:
data.to_csv('/post-processingTatanic.csv', index=False)